:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-and-primary-bg-white-color: #ffffff;
  --second-bg-color: #2f303a;
  --black-text-color-logo: #000000;
  --buttons-and-bg-color: #f5f4fa;
  --hero-button-active: #188ce8;
  --hero-bg-color: #C4C4C4;
}

body {
  color: var(--primary-text-color);
  background-color: var(--text-and-primary-bg-white-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 1px solid red;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.foto {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------шапка--------------- */

.hat {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  background-color: var(--text-and-primary-bg-white-color);
}
.logo {
  display: inline-block;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.black-studio {
  color: var(--black-text-color-logo);
}

/*------------------------------------------site nav & hat-right header ------------------*/
.line {
  display: flex;
}
.logo-nav {
  display: flex;
  align-items: center;
}
.link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.hat-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.hat-right .item + .item {
  margin-left: 50px;
}

.hat-right .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ----------------------------------------links footer----------------- */

.contacts .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts .highlighter {
  color: var(--text-and-primary-bg-white-color);
}
.site-nav .link.current,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* ------------------------------------------------hero------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  text-align: center;
}
.overlay {
  margin-left: auto;
  margin-right: auto;
  
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 696px;

  color: var(--text-and-primary-bg-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*------------------------------------------------кнопки--------------*/

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  color: var(--title-text-color);
  background-color: var(--buttons-and-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.hero-button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  min-width: 216px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  color: var(--text-and-primary-bg-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:active {
  background-color: var(--hero-button-active);
}
.button:hover,
.button:focus {
  color: var(--text-and-primary-bg-white-color);
  background-color: var(--accent-color);
}

/* ----------------------------------секції та заголовки-секцій----------*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* ----------------------------------------переваги------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section.excellence {
  padding-bottom: 0;
}
.excellence-list {
  display: flex;
  gap: 30px;
}
.excellence-item {
  flex-basis: calc((100% - 90px) / 4);
}
.excellence-item::before {
  margin-bottom: 30px;

  content: "";
  display: block;
  height: 120px;
  background: var(--buttons-and-bg-color);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.excellence-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.excellence-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -----------------------------------------що ми робимо----------- */

.work .section-title {
  margin-bottom: 50px;
  text-align: center;
}
.work-list {
  display: flex;
  gap: 30px;
}
.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

/* ------------------------------------------команда--------------- */

.team {
  background-color: var(--buttons-and-bg-color);
}
.team .section-title {
  margin-bottom: 50px;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-card {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--text-and-primary-bg-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .card-foot {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-link {  
  /* outline: 1px solid blue; !!!!!!!!!!!!!!!!!!!!!!!*/
}
.social-link > .icon {
  margin: 0;
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  /* outline: 1px solid orangered;!!!!!!!!!!!!!!!!!!!!!! */
}
.icon.instagram {
  background-image: url(../images/instagram.svg);
}
.icon.twitter {
  background-image: url(../images/twitter.svg);
}
.icon.facebook{
  background-image: url(../images/facebook.svg);
}
.icon.linkedin {
  background-image: url(../images/linkedin.svg);
}

/* ----------------------------------------клієнти------------------ */

.clients {
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-item {
  flex-basis: calc((100% - 150px) / 6);
  
  outline: 2px solid green;
}

/* --------------------------------------------підлога------------- */

.floor {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.white-studio {
  color: var(--text-and-primary-bg-white-color);
}
.contacts {
  margin-top: 20px;
  font-style: normal;
}
.floor .contacts-item + .contacts-item {
  margin-top: 9px;
}

/* --------------------------------page Portfolio-------- */

/* ----------------------------------фільтр------------------ */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.buttons .item + .item {
  margin-left: 8px;
}
/* ----------------------------портфоліо картки-------------------- */
.portfolio .set-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-card {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-link {
  text-decoration: none;
}
.portfolio .card-foot {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--primary-text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}
